/*Custom css class need to start with initials*/
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hw-sidebar {
    /*margin-bottom: 5px;*/
    border-right: grey;
}

.hw-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hw-widget {
    margin-top: 16px;
    margin-bottom: 16px;
}

.hw-navbar-glyphicon {
    margin-left: 5px;
    margin-right: 5px;
}


a:hover {
    text-decoration: none;
}

.jga-toolbar {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.7;
    z-index: 10;
}

li.borderless {
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

input.form-control {
    margin-bottom: 5px;
}

/*#h3Green {*/
    /*background-color: greenyellow;*/
/*}*/

/*.navbar-default .navbar-brand {*/
    /*color: white;*/
/*}*/