<!DOCTYPE html>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/task">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/task/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/task">Tasks</a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="navbar-text pull-left hidden-sm">
                <a href="#/task">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.createTask(task)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/task/new">New Task</a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <!-- left side -->
    <div class="col-sm-4 hidden-xs hw-sidebar">
        <ul class="list-group">
            <li ng-repeat="task in model.tasks" class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        {{task.name}}
                    </div>
                    <div class="col-xs-2 pull-right">
                        <a href="#/task/{{task._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- right side -->
    <div class="col-sm-8">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <label for="name">Name</label>
        <input ng-model="task.name" class="form-control" id="name" placeholder="Name">

        <label for="description">Description</label>
        <textarea ng-model="task.description"
                  class="form-control"
                  rows="4"
                  id="description"
                  placeholder="Description">

        </textarea>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-right navbar-text">
            <div class="col-xs-12 text-right">
                <a href="#/"><span class="glyphicon glyphicon-user"></span></a>
            </div>
        </div>
    </div>
</nav>
