<!DOCTYPE html>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/task/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Tasks</a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="navbar-text pull-left hidden-sm">
                <a href="#/">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updateTask(model.task)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/{{model.taskId}}">Edit Task</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <!-- left side -->
    <div class="col-sm-4 hidden-xs hw-sidebar">
        <ul class="list-group">
            <li ng-repeat="task in model.tasks" class="list-group-item">
                <div class="row">
                    <div class="col-xs-10 col-sm-6">
                        {{task.name}}
                    </div>
                    <div class="col-xs-2 pull-right">
                        <a href="#/{{task._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- right side -->
    <div class="col-sm-8">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <label for="web-edit-name">Task Name</label>
        <input ng-model="model.task.name" class="form-control" id="web-edit-name" placeholder="Name">

        <label for="web-edit-description">Task Description</label>
        <textarea ng-model="model.task.description" class="form-control" rows="3" id="web-edit-description" placeholder="Description"></textarea>

        <label for="dueDate">Due Date</label>
        <input type="date"
               ng-model="model.task.dueDate"
               class="form-control"
               id="dueDate">

        <label for="completed">Completed</label>
        <input type="checkbox"
               ng-model="model.task.completed"
               id="completed">

        <a ng-click="model.deleteTask()" class="btn btn-danger hw-button btn-block">Delete</a>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-right navbar-text">
            <div class="col-xs-12 text-right">
                <a href="#/"><span class="glyphicon glyphicon-th-list"></span></a>
            </div>
        </div>
    </div>
</nav>